@font-face {
  font-family: "FuturaTLig";
  src: url(fonts/FuturaTLigRegular.ttf);
}

:root {
  --html-bg: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(169,169,169,1) 37%, rgba(35,35,35,1) 100%) ;
  --background: linear-gradient(121.67deg, rgba(235, 244, 255, 0.5) 20.77%, rgba(0, 85, 251, 0.395) 104.86%);
  --color-font: black;
  --fild-color: rgba(255, 255, 255, 0.80);
  --fild-background: rgba(255, 255, 255, 0.80);
  --toggler-backgrund: linear-gradient(101.94deg, #FAFAFA -7.35%, #0DE771 -7.34%);
  --button-color: rgba(255, 255, 255, 0.80);
  --isActive-font: linear-gradient(92.54deg, #FFFFFF -77.21%, #005EF4 71.09%);
  --header-bg: white;
  --header-text-color: #41528F;
  --input-feild-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --input-feild: #DFE5F3;
  --contacts: rgba(235, 238, 246, 0.85);
  --blur-color: rgba(16, 4, 44, 0);
  --resizer: url(./Img/stiks.svg);
  --delete: url(./Img/DELETE.svg);
  --copy: url(./Img/copy.png);
}

html[data-theme="dark"] {
  --html-bg: black;
  --background:  linear-gradient(107.56deg, #474A99 0%, #474A99 0.01%, rgba(118, 120, 172, 0) 100%);
  --color-font: white;
  --fild-background: linear-gradient(129.23deg, rgba(0, 85, 251, 0.474) -3.54%, rgba(0, 28, 83, 0.408) -3.53%, rgba(0, 85, 251, 0.6) 154.08%, rgba(6, 44, 118, 0.288) 154.08%);
  --toggler-backgrund: ;
  --button-color: #B3BFEC;
  --isActive-font: linear-gradient(92.94deg, #1E2BA4 0%, #005EF5 99.69%);
  --header-bg: #46599B;
  --header-text-color: #FFFFFF;
  --header-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  --input-feild-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  --input-feild: #46599B;
  --placeholder: white;
  --contacts: #46599B;
  --contacts-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  --blur-color: rgba(16, 4, 44, 0.55);
  --resizer: url(./Img/stiks-white.svg);
  --delete: url(./Img/DELETE-white.svg);
  --copy: url(./Img/copy-white.svg);
}

html{
  width: 100%;
  height: 100%;
  background: var(--html-bg);

}

body {
  background: var(--background);
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  min-height: 120vh;
  height: 100%;
}

.animation_container {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%; 
  height: 100%;
}

.secret {
  opacity: 0;
  margin-left: 15px;
  transition: 0.5s;
  cursor: default;
}

.secret:hover{
  opacity: 0.3;
  transition: 5s;
}

.bground {
  min-height: 1.2vh;
  backdrop-filter: blur(15px);
  background-color: var( --blur-color);
  min-height: 150vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}


.bottomField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
  height: 47vh;
}

.toggler {
  margin-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  width: 36px;
  height: 25px;
  
  border-radius: 15px;
  border-radius: 15px;
  padding: 0 5px;
  transition: 0.3;
  cursor: pointer;
}

.toggler-light {
  background: #46599B;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.toggler-dark {
  background: #FFFFFF;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.circle {
  position: absolute;
  height: 19px;
  width: 19px;
  border-radius: 50%;
}

.circle-light {
  background: #FFFFFF;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
  transform: translate(100%);
  transition: 0.3s ease-in-out;
}

.circle-dark {
  background: #41528F;
  transform: translate(0);
  transition: 0.3s ease-in-out;

}

.header {
  margin: 2vh auto 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 37px;
  background: var( --header-bg);;
  border-radius: 20px;
  box-shadow: var(--header-shadow);
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  letter-spacing: 1.875em;
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  gap: 8px;
}

.fild {
  background: var(--fild-background) ;
  box-shadow: 4px 4px 6px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border: none;
  width: 20vw;  
  height: 15vw;
  padding: 40px;
  font-size: 18px;
  min-width: 2px;
  min-height: 2px;
  color: var(--placeholder);
  scrollbar-color: #005EF4;
  scroll-behavior: smooth;
}

.fild::placeholder {
  color: var(--placeholder);
}

.fild::-webkit-resizer{
  background-color: none;
}

.fild::-webkit-scrollbar-corner {
  background-color: none
}

.fild::selection {
  background-color: #41528F; 
  color: #FDFDFD;
}

.fild:focus {
  outline-color: #41528F;
}

.textare {
  position: relative;
  display: inline;
}

.wraper {
  position: relative;
}

.wraper::after {
  content: '';
  background-image: var(--resizer);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  display: block;
}

.delete {
  background-image: var(--delete);
}


.button-inFild {
  padding: 0;
  border: none;
  position: absolute;
  top: 15px;
  right: 5px;
  height: 20px;
  width: 50px;
  z-index: 99;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
  background-color: transparent;

}

.delete:hover {
  padding: 15px;
}

.copy {
  background-image: var(--copy);
}

.copy:active{
  opacity: 0;
  transition: 0.1s;
}

.button {
  font-family: "FuturaTLig";
  padding: 12px;
  min-width: 130px ;
  font-size: 25px;
  border: none;
  background: var(--button-color);
  border-radius: 8px;
  transition: 0.1s;
}

.delete:active {
  opacity: 0;
  transition: 0.1s;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.05s;
}

.button:active {
  background-color: #005EF4;
  color: #FFFFFF;
  transition: 0.08s;
}

.selectFild {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.isActive {
  background: var(--isActive-font); 
  color: #FFFFFF;
}

.changeSpaceInput {
  height: 4vh;
  width: 30vw;
  padding: 5px 15px;
  background-color: var(--input-feild);
  box-shadow: var(--input-feild-shadow);
  border-radius: 20px;
  outline: none;
  border: none;
  color: var(--placeholder);
  font-size: 16px;
}

.changeSpaceInput::placeholder {
  color: var(--placeholder);
}

.inputForm {
  display: flex;
  justify-content: center;
}

.contact {
  background: var(--contacts);
  border-radius: 20px;
  box-shadow: var(--contacts-shadow);
  padding: 5px 35px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts__link {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.contacts__link:hover {
  color: #005EF4;
}

.container {
  margin: auto;
  margin-bottom: 8vh;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    margin: 10px auto;
    gap: 2vh;
  } 

  .button {
    min-width: 30px;
  }
  
  .bottomField{
    gap: 2vh;
    position: relative;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .contacts__link{
    font-size: 12px;
  }

  .selectFild {
    margin-top: 2vh;
  }

  .fild{
    width: 70%;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.103)
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #005ef486;
}

.fild::-webkit-scrollbar{
  width: 11px;
  height: 5px;
}

.fild::-webkit-scrollbar-track {
  cursor: pointer;
  border-radius: 10%;
  background-clip: content-box;
  margin-top: 40px 0; 
}

.fild::-webkit-scrollbar-thumb {
  background: none;
  border-left: #46599B4D solid 3px;}
