@font-face {
  font-family: "FuturaTLig";
  src: url(fonts/FuturaTLigRegular.ttf);
}
html{
  position: relative;
  height: 100%;
}

body {
  background: linear-gradient(121.67deg, rgba(235, 244, 255, 0.5) 20.77%, rgba(0, 85, 251, 0.395) 104.86%);
  backdrop-filter: blur(30px);
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
}

.bottomField {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5vh;
  height: max-content;
}

.header {
  margin: 2vh auto 2vh;
  background-color: white;
  width: 50vw;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.title {
  font-family: "FuturaTLig";
  font-size: 2vw;
  margin: 0;
  line-height: 53px;
  letter-spacing: 1.47em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  gap: 8px;
}

.fild {
  background: linear-gradient(128.85deg, rgba(255, 255, 255, 0.6) 7.91%, rgba(66, 145, 255, 0.12) 100%);
  box-shadow: inset 7px 3px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 20vw;
  height: 20vh;
  padding: 40px;
  font-size: 18px;
  min-width: 2px;
  min-height: 2px;
  color: black;
}

.fild::selection {
  background-color: #005EF4; 
  color: #FDFDFD;
}

.button {
  font-family: "FuturaTLig";
  padding: 12px;
  min-width: 130px ;
  font-size: 25px;
  border: none;
  background: #FDFDFD;
  border-radius: 8px;
  transition: 0.1s;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.08s;
}

.button:active {
  background-color: #005EF4;
  color: #FFFFFF;
  transition: 0.08s;
}

.selectFild {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.isActive {
  background: linear-gradient(92.54deg, #FFFFFF -77.21%, #005EF4 71.09%);
  color: #FFFFFF;
}

.changeSpaceInput {
  height: 4vh;
  width: 30vw;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  outline: none;
  border: none;
}

.inputForm {
  display: flex;
  justify-content: center;
}

.contact {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 35px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts__link {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.contacts__link:hover {
  color: #005EF4;
}

.container {
  margin: auto;
  margin-bottom: 8vh;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    margin: 10px auto;
    gap: 2vh;
  } 

  .button {
    min-width: 30px;
  }
  
  .bottomField{
    gap: 2vh;
    position: relative;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .contacts__link{
    font-size: 12px;
  }

  .selectFild {
    margin-top: 2vh;
  }

  .fild{
    width: 70%;
  }
}